<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Shoe Stores</title>
        </head>
    <body>
        <h1 class="header">Shoe Shop</h1>
        <div class="container well text-center">
            <h3>See All <a href="/stores">Stores</a></h3>
            <h3>See All <a href="/brands">Brands</a></h3>
        </div>
    </body>
</html>
