<html>
    <head>
        <link href="https://maxcdn.bootstrap.cdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Template</title>
        </head>
    <body>
        <h1></h1>
        <div class="container">
            <form action="/" method="post">

            </form>
            <button class="btn btn-info" type="submit"></button>
            <h3><a href="/">Home</a></h3>
        </div>
    </body>
</html>
