<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/styles.css" rel="stylesheet">
        <title>Shoe Stores</title>
        </head>
    <body>
        <h1 class="header">Shoe Stores</h1>
        <div class="container">
            {% if stores is not empty %}
                <h1>Here are all of the stores entered:</h1>
                <h3>Click to see an individual store and its shoe brands.</h3>
                {% for store in stores %}
                    <li><a href="/store_brands/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                {% endfor %}
            {% else %}
                <h2>There are no stores entered yet</h2>
            {% endif %}

            <div class="well new_object">
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <h2 class="text-center">Enter a store:</h2>
                        <form action="/stores_add" method="post">
                            <div class="form-group">
                                <label for="store_name">Store Name:</label>
                                <input id="store_name" name="store_name" type="text" class="form-control"  required>
                            </div>

                            <button class="btn btn-info" type="submit">Add Store</button>
                        </form>
                    </div>
                </div>
            </div>

            <form action="/stores_delete_all">
                <button class="btn btn-danger">Delete All Stores</button>
            </form>

            <h3><a href="/brands">See All Brands Entered</a></h3>
            <h3><a href="/">Home</a></h3>
        </div>
    </body>
</html>
